* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  /* color: 	#2A5CAA;
  color: 	#426AB3; */
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
html {
  font-size: 0.520833333vw;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 6.666666667px;
  }
}
@media screen and (min-width: 1921px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 2561px) {
  html {
    font-size: 20px;
  }
}
header {
  border-top: solid 4px #2a5caa;
  box-shadow: 0 1rem 1rem 0 #28282833;
}
header h1 {
  font-size: 4rem;
}
header > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  font-size: 1.5rem;
  max-width: 140rem;
  margin: auto;
}
.hd_ct_gr {
  display: grid;
  grid-template-columns: auto auto;
  width: 35.5rem;
  justify-self: right;
  gap: 2rem;
}
.ft_gr.hd_ct_gr {
  justify-self: center;
  gap: 3rem;
  margin: auto;
}
.hd_ct_gr > a {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  align-items: center;
}
.hd_ct_gr > a > img {
  height: 3rem;
}
.hd_ct_gr * {
  font-weight: bold;
}
.hd_ct_gr a {
  color: #2a5caa;
  font-size: 2rem;
}
header img {
  height: 8rem;
  margin: 1rem 0;
  vertical-align: bottom;
}
header li {
  border-top: solid 2px #2a5caa;
  padding: 1rem 0;
}
header ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  gap: 2rem;
  max-width: 140rem;
  margin: auto;
  text-align: center;
  line-height: 1;
}
header ul a {
  color: #282828;
  font-weight: bold;
}
header ul span {
  font-size: 1rem;
  color: #b9b9b9;
}
header a {
  font-size: 2.1rem;
  text-decoration: none;
}
.hd_logo_out > a {
  display: grid;
  grid-template-columns: auto 1fr;
  line-height: 10rem;
  color: #282828;
}
.top_sec01 {
  border-top: solid 4rem #2a5caa;
  background: url(/assets/img/top_hd_bg.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  height: 45rem;
  position: relative;
}
.top_sec01 > div {
  max-width: 140rem;
  margin: auto;
}
.top_sec01 h2 {
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
  color: #f7f7f7;
  width: 59.8203rem;
  margin: auto;
  position: absolute;
  line-height: 1em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
span.title {
  content: url(/assets/img/logo_a.svg);
  display: inline-block;
  width: 8rem;
  vertical-align: bottom;
}
span.title_o {
  font-size: 7rem;
  font-family: inherit;
}
.top_sec01 img {
  width: 30rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-55rem, 50%);
}
.top_sec02 {
  margin-top: 9rem;
}
.top_sec02 > p:first-child {
  text-align: center;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 9rem;
}
.top_sec02_cont01 {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  width: 115rem;
  margin: auto;
  justify-content: center;
  gap: 2rem;
}
.top_sec02_cont01 > p {
  font-size: 2rem;
  background-color: #2a5caa;
  color: #f7f7f7;
  height: 4rem;
  padding: 0.5rem 4rem;
}
.top_sec02_cont01 h3 {
  font-size: 2rem;
  border-bottom: solid 1px #707070;
  line-height: 2;
}
.top_sec02_cont01 img {
  width: 100%;
}
.top_sec02_cont01 > div {
  border: 1px solid #707070;
  padding: 0 4rem;
  position: relative;
}
.top_sec02_cont01 > div p {
  font-size: 2rem;
  margin: 5rem 0 8rem;
  text-align: center;
}
.top_sec02_cont01 > div a {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #2a5caa;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 1rem;
  width: 19.8rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.top_sec03 {
  background-color: #426ab3;
  margin: 10rem auto;
  color: #f7f7f7;
}
.top_sec03_cont01 {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  width: 87.35rem;
}
.top_sec03_cont01 h3 {
  padding: 0 10rem;
  font-size: 3rem;
  writing-mode: vertical-rl;
  border-right: 1px solid #f7f7f7;
}
.top_sec03_cont01 p {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.top_sec03_cont01 > div {
  display: grid;
  padding: 0 4rem;
}
.top_sec03_cont01 img {
  height: 4rem;
}
.top_sec04 {
  margin-top: 15rem;
}
.top_sec04 > h3 {
  font-weight: normal;
  font-size: 5rem;
  border-bottom: 1px solid #707070;
  text-align: center;
  width: 12em;
  margin: auto;
  margin-bottom: 9rem;
}
.top_sec04 > p {
  text-align: center;
  font-size: 2rem;
  margin: 6rem auto;
}
.top_sec04 img {
  width: 32rem;
  border: 1px solid #000a;
}
.top_sec04 a {
  font-size: 2rem;
  padding: 0.5rem 3rem;
  background-color: #2a5caa;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 1rem;
  width: 19.8rem;
  display: block;
  margin: auto;
}
.top_sec04_cont01 {
  width: 111.3rem;
  margin: auto;
}
.top_sec04_cont01 img {
  margin: 0 2rem;
}
.sec_ft {
  background: url(/assets/img/top_btm_bg.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: relative;
  width: 100%;
  height: 40rem;
  margin: 15rem auto 18rem;
}
.sec_ft > div {
  max-width: 140rem;
  margin: auto;
}
.sec_ft h2 {
  font-size: 4.5rem;
  font-weight: normal;
  color: #f7f7f7;
  width: 67.3375rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
.sec_ft a {
  position: absolute;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  background-color: #2a5caa;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 1rem;
  width: 19.8rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}
.sec_ft img {
  width: 23rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-55rem, 50%);
}
footer {
  background-color: #ebebeb;
}
footer > div:first-child {
  font-size: 1.5rem;
  max-width: 140rem;
  margin: auto;
}
footer nav {
  width: 71.425rem;
  margin: auto;
  padding: 3.5rem 0;
}
footer nav ul {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  list-style: none;
  gap: 5rem;
}
footer a {
  text-decoration: none;
  color: #2a2a2a;
}
footer a span {
  text-align: center;
  display: block;
}
footer > div:last-child {
  text-align: center;
  font-size: 1rem;
  background-color: #d8d8d8;
  color: #3f3f43;
  line-height: 3;

  border-bottom: solid 8px #2a5caa;
}

.ab_bg {
  background: url(/assets/img/ab_hd_bg.jpg) no-repeat 100% / auto;
  background-size: 100% auto;
  background-position: center;
  height: 20rem;
}
.ab_bg h2 {
  width: 20rem;
}
.ab_sec01 {
  max-width: 140rem;
  margin: auto;
  text-align: end;
}
.ab_sec01 > h2 {
  border-left: solid 1.2rem #3451a4;
  padding: 0.6rem 3rem;
  font-size: 4rem;
  margin: 5rem 0;
  text-align: left;
}
.ab_sec01 > img {
  width: 40rem;
  margin: 3rem 0;
}

.ab_sec01 h3 {
  padding: 0.6rem 3rem;
  text-align: center;
}
.ab_sec01 > div {
  border: solid 1px #000;
  border-image: url(/assets/img/ab_boder.png) 170 / 120px round;
  padding: 10rem 1rem;
  text-align: center;
}
.ab_sec01 > div img {
  width: 35rem;
}
.ab_sec02 {
  margin-top: 10rem;
}
.ab_sec02 th,
.ab_sec02 td {
  padding: 2rem 0;
  font-size: 2rem;
  border-bottom: solid 1px #cdd6dd;
}
.ab_sec02 tr:first-child > th,
.ab_sec02 tr:first-child > td {
  border-top: solid 2px #cdd6dd;
}
.ab_sec02 th {
  text-align: left;
  color: #707f89;
}
.ab_sec02 table {
  padding: 10rem 20rem;
  margin: auto;
  border: solid 1px #707070;
}
.ab_sec03 {
  height: 50rem;
  margin: 10rem 0;
}
.serv_bg {
  background-image: url(/assets/img/serv_hd_bg.jpg);
  height: 20rem;
}
.serv_bg h2 {
  width: 20rem;
}
.serv_sec01 {
  max-width: 140rem;
  margin: auto;
}
.serv_sec01 img {
  width: 32rem;
  border: 1px solid #000a;
}
.serv_sec01 > h2 {
  border-left: solid 1.2rem #3451a4;
  padding: 0.6rem 3rem;
  font-size: 4rem;
  margin: 5rem 0;
}
.serv_sec01_cont01 {
  width: 111.3rem;
  margin: auto;
}
.serv_sec01_cont01 > div {
  display: inline-table;
  width: 32rem;
  margin: 2rem;
  height: 38.5rem;
}
.serv_sec01_cont01 p {
  font-size: 1.8rem;
  margin-top: 4rem;
  text-align: left;
}
.wk_bg {
  background-image: url(/assets/img/wk_hd_bg.jpg);
  height: 20rem;
}
.wk_bg h2 {
  width: 20rem;
}
.wk_sec01 {
  max-width: 110rem;
  margin: auto;
}
.wk_sec01_cont01 > div {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem 0;
}
.wk_sec01_cont01 > div > div,
.wk_sec01_cont01 img {
  height: 29rem;
  width: 45rem;
  border: 1px solid #000a;
  position: relative;
}
.wk_sec01_cont01 > div > div:nth-child(1)::before,
.wk_sec01_cont01 > div > div:nth-child(2)::before {
  content: "Before";
  position: absolute;
  left: -8rem;
  writing-mode: vertical-rl;
  font-size: 4rem;
  font-weight: bold;
}
.wk_sec01_cont01 > div > div:nth-child(2)::before {
  content: "After";
}
.wk_sec01_cont01 img {
  border: 1px solid #000a;
}
.wk_sec01_cont01 p {
  font-size: 2rem;
  padding: 5rem;
}
.wk_sec01 > h2,
.wk_sec02 > h2 {
  border-left: solid 1.2rem #3451a4;
  padding: 0.6rem 3rem;
  font-size: 4rem;
  margin: 5rem 0;
}
.wk_sec02 {
  max-width: 110rem;
  margin: 10rem auto;
}
.wk_sec02 p {
  text-align: center;
  font-size: 2rem;
}
.sns {
  text-align: center;
}
.top_sec01.rec_bg {
  background-image: url(/assets/img/rec_hd_bg.jpg);
  height: 20rem;
}
.top_sec01.rec_bg h2 {
  width: 20rem;
}
.rec_sec01 {
  max-width: 120rem;
  margin: auto;
}
.rec_sec01_cont01 > div {
  place-items: start center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  padding: 1rem;
}
.rec_sec01_cont01 > div > div:nth-child(1) {
  grid-column: 1/3;
}
.rec_sec01_cont01 > div > div {
  width: 90%;
  position: relative;
}
.rec_sec01_cont01 img {
  width: 28rem;
  position: relative;
}
.rec_sec01_cont01 img {
  height: 40rem;
  border: 1px solid #000a;
}
.rec_sec01_cont01 > div > div:nth-child(1)::before,
.rec_sec01_cont01 > div > div:nth-child(2)::before,
.rec_sec01_cont01 > div > div:nth-child(3)::before {
  position: absolute;
  left: -5rem;
  width: 3.5rem;
}
.rec_sec01_cont01 > div > div:nth-child(1)::before {
  content: url(/assets/img/name01.svg);
}
.rec_sec01_cont01 > div > div:nth-child(2)::before {
  content: url(/assets/img/name02.svg);
}
.rec_sec01_cont01 > div > div:nth-child(3)::before {
  content: url(/assets/img/name03.svg);
}
.rec_sec01_cont01 img {
  border: 1px solid #000a;
}
.rec_sec01_cont01 p {
  font-size: 2rem;
  padding: 2rem;
}
.rec_sec01_cont01 h3 {
  font-size: 3rem;
  text-indent: 2em;
  color: #2a5caa;
  line-height: 2;
}
.rec_sec01 > h2 {
  border-left: solid 1.2rem #3451a4;
  padding: 0.6rem 3rem;
  font-size: 4rem;
  margin: 5rem 0;
}
.form {
  border: #707070 solid 1px;
  padding: 10rem 0;
  margin: 10rem 0;
}
.top_sec01.cntc_bg h2 {
  width: 30rem;
}
.cntc_sec01 {
  max-width: 120rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.cntc_sec01 h2 {
  border-left: solid 1.2rem #3451a4;
  padding: 0.6rem 3rem;
  font-size: 4rem;
  margin: 5rem 0;
}
.cntc_sec01_cont01 {
  border-right: solid 1px #3333;
}
.cntc_sec01_cont01 p {
  color: #2a2a2a;
  font-size: 2rem;
  width: 13em;
}
.cntc_sec01_cont01 img {
  width: 10rem;
  margin: auto;
  display: block;
}
.cntc_sec01_cont01 a {
  display: block;
  margin: auto;
  text-decoration: none;
  width: 10rem;
}
.cntc_sec01_cont02 a {
  font-size: 3rem;
  text-decoration: none;
  color: #2a2a2a;
  margin: 5rem 0;
}
.cntc_sec01_cont02 img {
  width: 5rem;
}
.cntc_sec01_cont02 > div {
  width: 46rem;
  margin: 10rem auto;
}
.cntc_sec01_cont02 > div > a {
  display: block;
}
a.line {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sec_ft.rec_bg {
  background-image: url(/assets/img/cntc_btm_bg.jpg);
}
.sec_ft.rec_bg h2 {
  width: 45rem;
}
.sec_ft.rec_bg a {
  width: 15.3rem;
}
@media screen and (max-width: 1024px) {
  .rec_sec01_cont01 > div > div:nth-child(1)::before,
  .rec_sec01_cont01 > div > div:nth-child(2)::before,
  .rec_sec01_cont01 > div > div:nth-child(3)::before {
    left: 30rem;
  }
}
@media screen and (max-width: 767px) {
  header > div {
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
    margin: auto;
    width: 88%;
    margin-left: 0;
  }
  header h1 {
    font-size: 2rem;
    color: #005b9e;
  }
  header h1 span {
    display: none;
  }
  span.title {
    width: 5.6rem;
  }
  span.title_o {
    font-size: 4.9rem;
  }
  .hd_ct_gr {
    grid-template-columns: auto;
    justify-self: left;
    width: 15.5rem;
    gap: 0;
  }
  .ft_gr.hd_ct_gr {
    justify-self: center;
    gap: 1rem;
    margin: auto;
  }
  .hd_ct_gr a {
    font-size: 1.5rem;
  }
  .top_sec01 {
    height: 35rem;
  }
  .top_sec01 h2 {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
  }
  .top_sec01 img {
    width: 30rem;
    position: absolute;
    left: unset;
    right: 5rem;
    bottom: 0;
    transform: translate(0, 25%) rotate(20deg);
  }
  .top_sec02_cont01 {
    grid-template-columns: auto;
    width: 100%;
    margin: auto;
    justify-content: center;
    gap: 2rem;
  }
  .top_sec03_cont01 {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 100%;
  }
  .top_sec03_cont01 h3 {
    padding: 0.5rem;
    font-size: 3rem;
  }
  .top_sec03_cont01 > div {
    padding: 0.5rem;
  }
  .top_sec04 > h3 {
    font-size: 3rem;
    border-bottom: 1px solid #707070;
    text-align: center;
    width: 12em;
    margin: auto;
    margin-bottom: 9rem;
  }
  .top_sec04 img {
    width: 19rem;
    margin: 1rem;
  }
  .top_sec03_cont01 p {
    font-size: 1.5rem;
  }
  .top_sec04_cont01 {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .sec_ft {
    margin-bottom: 0;
    background-size: cover;
  }
  .sec_ft h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .sec_ft img {
    width: 23rem;
    position: absolute;
    left: unset;
    right: 5rem;
    bottom: 0;
    transform: translate(0, 25%) rotate(20deg);
  }
  .ab_bg {
    height: 15rem;
  }
  .ab_sec02 table {
    padding: 5rem;
    margin: auto;
    border: solid 1px #707070;
  }
  .ab_sec02 th {
    width: 50%;
  }
  .serv_bg {
    height: 15rem;
  }
  .serv_sec01_cont01 {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .wk_bg {
    height: 15rem;
  }
  .wk_sec01_cont01 > div {
    grid-template-columns: 1fr;
  }
  .rec_sec01_cont01 > div {
    place-items: start;
    grid-template-columns: auto;
    gap: 10rem;
  }
  .rec_sec01_cont01 > div > div {
    width: 100%;
  }
  .rec_sec01_cont01 > div > div:nth-child(1) {
    grid-column: 1/2;
  }
  .cntc_sec01 {
    padding: 1rem;
    grid-template-columns: auto;
  }
  .cntc_sec01_cont01 a {
    width: 33rem;
  }
  .cntc_sec01_cont01 p {
    color: #2a2a2a;
    font-size: 3rem;
    width: 11em;
  }
  footer nav {
    width: 32rem;
    margin: auto;
    padding: 3.5rem 0;
  }
  footer nav ul {
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
  }
}

span.br {
  display: inline-block;
}
