* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  /* color: 	#2A5CAA;
  color: 	#426AB3; */
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
html {
  font-size: 0.520833333vw;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 6.666666667px;
  }
}
@media screen and (min-width: 1921px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 2561px) {
  html {
    font-size: 20px;
  }
}
header {
  border-top: solid 4px #2a5caa;
  box-shadow: 0 1rem 1rem 0 #28282833;
}
header h1 {
  font-size: 4rem;
}
header > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  font-size: 1.5rem;
  max-width: 140rem;
  margin: auto;
}
.hd_ct_gr {
  display: grid;
  grid-template-columns: auto auto;
  width: 35.5rem;
  justify-self: right;
  gap: 3rem;
}
.hd_ct_gr > a {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  align-items: center;
}
.hd_ct_gr > a > img {
  height: 3rem;
}
.hd_ct_gr * {
  font-weight: bold;
}
.hd_ct_gr a {
  color: #2a5caa;
  font-size: 2rem;
}
header img {
  height: 8rem;
  margin: 1rem 0;
  vertical-align: bottom;
}
header li {
  border-top: solid 2px #2a5caa;
  padding: 1rem 0;
}
header ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  gap: 2rem;
  max-width: 140rem;
  margin: auto;
  text-align: center;
  line-height: 1;
}
header ul a {
  color: #282828;
  font-weight: bold;
}
header ul span {
  font-size: 1rem;
  color: #b9b9b9;
}
header a {
  font-size: 2.1rem;
  text-decoration: none;
}
.hd_logo_out > a {
  display: grid;
  grid-template-columns: auto 1fr;
  line-height: 10rem;
  color: #282828;
}
.top_sec01 {
  border-top: solid 4rem #2a5caa;
  background: url(/assets/img/top_hd_bg.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  height: 45rem;
  position: relative;
}
.top_sec01 > div {
  max-width: 140rem;
  margin: auto;
}
.top_sec01 h2 {
  font-size: 5rem;
  font-weight: normal;
  color: #f7f7f7;
  width: 59.8203rem;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
.top_sec01 img {
  width: 30rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-55rem, 50%);
}
.top_sec02 {
  margin-top: 9rem;
}
.top_sec02 > p:first-child {
  text-align: center;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 9rem;
}
.top_sec02_cont01 {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  width: 115rem;
  margin: auto;
  justify-content: center;
  gap: 2rem;
}
.top_sec02_cont01 > p {
  font-size: 2rem;
  background-color: #2a5caa;
  color: #f7f7f7;
  height: 4rem;
  padding: 0.5rem 4rem;
}
.top_sec02_cont01 h3 {
  font-size: 2rem;
  border-bottom: solid 1px #707070;
  line-height: 2;
}
.top_sec02_cont01 img {
  width: 100%;
}
.top_sec02_cont01 > div {
  border: 1px solid #707070;
  padding: 0 4rem;
  position: relative;
}
.top_sec02_cont01 > div p {
  font-size: 2rem;
  margin: 5rem 0 8rem;
  text-align: center;
}
.top_sec02_cont01 > div a {
  font-size: 2rem;
  padding: 0.5rem 3rem;
  background-color: #2a5caa;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 1rem;
  width: 19.8rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.top_sec03 {
  background-color: #426ab3;
  margin: 10rem auto;
  color: #f7f7f7;
}
.top_sec03_cont01 {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  width: 87.35rem;
}
.top_sec03_cont01 h3 {
  padding: 0 10rem;
  font-size: 3rem;
  writing-mode: vertical-rl;
  border-right: 1px solid #f7f7f7;
}
.top_sec03_cont01 p {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.top_sec03_cont01 > div {
  display: grid;
  padding: 0 4rem;
}
.top_sec03_cont01 img {
  height: 4rem;
}
.top_sec04 {
  margin-top: 15rem;
}
.top_sec04 > h3 {
  font-weight: normal;
  font-size: 5rem;
  border-bottom: 1px solid #707070;
  text-align: center;
  width: 12em;
  margin: auto;
  margin-bottom: 9rem;
}
.top_sec04 > p {
  text-align: center;
  font-size: 2rem;
  margin: 6rem auto;
}
.top_sec04 img {
  width: 32rem;
  border: 1px solid #000a;
}
.top_sec04 a {
  font-size: 2rem;
  padding: 0.5rem 3rem;
  background-color: #2a5caa;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 1rem;
  width: 19.8rem;
  display: block;
  margin: auto;
}
.top_sec04_cont01 {
  width: 111.3rem;
  margin: auto;
}
.top_sec04_cont01 img {
  margin: 0 2rem;
}
.sec_ft {
  background: url(/assets/img/top_btm_bg.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: relative;
  width: 100%;
  height: 40rem;
  margin: 15rem auto 18rem;
}
.sec_ft > div {
  max-width: 140rem;
  margin: auto;
}
.sec_ft h2 {
  font-size: 4.5rem;
  font-weight: normal;
  color: #f7f7f7;
  width: 67.3375rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
.sec_ft a {
  position: absolute;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  background-color: #2a5caa;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 1rem;
  width: 19.8rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}
.sec_ft img {
  width: 23rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-55rem, 50%);
}
footer {
  background-color: #ebebeb;
}
footer > div:first-child {
  font-size: 1.5rem;
  max-width: 140rem;
  margin: auto;
}
footer nav {
  width: 71.425rem;
  margin: auto;
  padding: 3.5rem 0;
}
footer nav ul {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  list-style: none;
  gap: 5rem;
}
footer a {
  text-decoration: none;
  color: #2a2a2a;
}
footer a span {
  text-align: center;
  display: block;
}
footer > div:last-child {
  text-align: center;
  font-size: 1rem;
  background-color: #d8d8d8;
  color: #3f3f43;
  line-height: 3;

  border-bottom: solid 8px #2a5caa;
}
.ab_sec01 {
  max-width: 140rem;
  margin: auto;
}
.ab_sec01 > h2 {
  border-left: solid 1.2rem #3451a4;
  padding: 0.6rem 3rem;
  font-size: 4rem;
}

.ab_sec01 h3 {
  padding: 0.6rem 3rem;
  font-size: 5rem;
  text-align: center;
  font-weight: normal;
  font-family: "Times New Roman", "STKaiti", "KaiTi", "STKaiti", "KaiTi", serif;
}
.ab_sec01 > div {
  border: solid 1px #000;
  border-image: url(/assets/img/ab_boder.png) 170 / 120px round;
  padding: 10rem 1rem;
}
.sns {
  text-align: center;
}
@media screen and (max-width: 767px) {
  header > div {
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
    margin: auto;
    width: 88%;
    margin-left: 0;
  }
  header h1 {
    font-size: 2rem;
    color: #005b9e;
  }
  header h1 span {
    display: none;
  }
  .hd_ct_gr {
    grid-template-columns: auto;
    justify-self: left;
    width: 15.5rem;
    gap: 0;
  }
  .hd_ct_gr a {
    font-size: 1.5rem;
  }
  .top_sec01 {
    height: 35rem;
  }
  .top_sec01 h2 {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
  }
  .top_sec01 img {
    width: 30rem;
    position: absolute;
    left: unset;
    right: 5rem;
    bottom: 0;
    transform: translate(0, 25%) rotate(20deg);
  }
  .top_sec02_cont01 {
    grid-template-columns: auto;
    width: 100%;
    margin: auto;
    justify-content: center;
    gap: 2rem;
  }
  .top_sec03_cont01 {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 100%;
  }
  .top_sec03_cont01 h3 {
    padding: 0.5rem;
    font-size: 3rem;
  }
  .top_sec03_cont01 > div {
    padding: 0.5rem;
  }
  .top_sec04 > h3 {
    font-size: 3rem;
    border-bottom: 1px solid #707070;
    text-align: center;
    width: 12em;
    margin: auto;
    margin-bottom: 9rem;
  }
  .top_sec04 img {
    width: 19rem;
    margin: 1rem;
  }
  .top_sec03_cont01 p {
    font-size: 1.5rem;
  }
  .top_sec04_cont01 {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .sec_ft {
    margin-bottom: 0;
  }
  .sec_ft h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .sec_ft img {
    width: 23rem;
    position: absolute;
    left: unset;
    right: 5rem;
    bottom: 0;
    transform: translate(0, 25%) rotate(20deg);
  }
  footer nav {
    width: 32rem;
    margin: auto;
    padding: 3.5rem 0;
  }
  footer nav ul {
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
  }
}
span.br {
  display: inline-block;
}
