@charset "UTF-8";
html {
  font-size: 0.5208vw;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 3.6rem;
  font-weight: bolder;
  line-height: 1.2;
}

h3 {
  font-size: 2.8rem;
  font-weight: bolder;
  line-height: 1.5;
}

p {
  font-size: 1.6rem;
}

.pc_only {
  display: block;
}

.sp_only {
  display: none;
}

.pc_flex {
  display: flex;
}

.sp_flex {
  display: none;
}

/* header */

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 7rem;
  background: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
}

header .left {
  margin-left: 5rem;
}

header .left a img {
  width: 13.9rem;
  transition: all 0.2s ease-in-out;
}

header .left a img:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
}

header .right nav {
  width: 42.5rem;
  margin-right: 7.2rem;
}

header .right nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right nav ul li {
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}

header .right nav ul li:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

header .right .reserve {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  margin-right: 1.4rem;
  gap: 1.4rem;
}

header .right .reserve a {
  padding: 1.35rem;
  width: fit-content;
  width: -moz-fit-content;
  display: block;
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

header .right .reserve a:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

header .right .reserve a:first-child {
  color: #212121;
  background: #e1ae49;
}

header .right .reserve a:nth-child(2) {
  color: white;
  background: #6a6a6a;
}

header .right .icon {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right .icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  height: 4.3rem;
  box-shadow: 0 0 0.6rem rgba(255, 255, 255, 16%);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

header .right .icon a:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

header .right .icon a:first-child img {
  width: 2.7rem;
}

header .right .icon a:nth-child(2) img {
  width: 3rem;
}

main {
  position: relative;
  margin-top: 7rem;
}

#kv {
  width: 100%;
  height: 18.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#kv h2 {
  font-size: 4.2rem;
  text-shadow: 0 0 1px #000;
}
.spbr{
  display: none;
}
/* topic */

#topic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 9.2rem 0 4.2rem;
  background: url("../img/common/common_bg.jpg") no-repeat center center/cover;
  color: white;
}

#topic .wrap {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#topic .wrap .left {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 48%;
}

#topic .wrap .left .instagram-media {
  width: 26.1rem;
  min-width: unset !important;
  margin: 0 !important;
}

#topic .wrap .left .content {
  width: 35.894rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#topic .wrap .left .content h2 {
  text-align: center;
  line-height: 2;
  position: relative;
}

#topic .wrap .left .content h2::before {
  position: absolute;
  content: "";
  width: 35.9rem;
  height: 0.725rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/common/double_bash.svg") no-repeat center center/cover;
}

#topic .wrap .left .content ul {
  width: 100%;
}

#topic .wrap .left .content li {
  border-bottom: 0.05rem dotted white;
  padding-bottom: 1.2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

#topic .wrap .left .content li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

#topic .wrap .left .content li small {
  font-size: 1.4rem;
}

#topic .wrap .right {
  width: 45%;
}

#topic .wrap .right h3 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

#topic .wrap .right p {
  font-size: 1.9rem;
  margin-bottom: 2.8rem;
}

#topic .wrap .right .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#topic .wrap .right .content .map {
  width: 37.5rem;
  height: 31.4rem;
}

#topic .wrap .right .content h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#topic .wrap .right .content p {
  font-size: 2rem;
  line-height: 2.5;
  margin-left: 2rem;
}

#topic .btn {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57.2rem;
}

#topic .btn a {
  width: 27.3rem;
  padding: 1.8rem 0;
  text-align: center;
  font-size: 2.8rem;
  color: white;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

#topic .btn a:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

#topic .btn a:first-child {
  color: #212121;
  background: #e1ae49;
}

#topic .btn a:last-child {
  color: white;
  background: #6a6a6a;
}

/* footer */

footer {
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 3.64rem 0;
}

footer nav {
  margin-bottom: 3.1rem;
}

footer nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50.1rem;
}

footer a {
  color: white;
  font-size: 2.3rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}

footer a:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

footer a::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -25%;
  transform: translate(-50%, -50%);
  width: 0.1rem;
  height: 100%;
  background: white;
}

footer li:first-child a::before {
  display: none;
}

footer p {
  font-size: 1.6rem;
}

/* page_top_btn */

.page_top {
  position: fixed;
  z-index: 1000;
  bottom: 2.7rem;
  right: 3.7rem;
  transition: all 0.2s ease-in-out;
}

.page_top:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.page_top img {
  width: 6.5rem;
}

/* separator */
.sepa {
  height: 30.6rem;
}

.sepa001 {
  background: url("../img/common/sepa001.jpg") no-repeat center center/cover;
}

.sepa002 {
  background: url("../img/common/sepa002.jpg") no-repeat center center/cover;
}

.sepa003 {
  background: url("../img/common/sepa003.jpg") no-repeat center center/cover;
}

.sepa004 {
  background: url("../img/common/sepa004.jpg") no-repeat center center/cover;
}

.hamburger,
.main-navigation,
.main-navigation-bg {
  display: none;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  html {
    font-size: 2.667vw;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 1.58rem;
  }

  p {
    font-size: 1.4rem;
  }

  .pc_only {
    display: none !important;
  }

  .sp_only {
    display: block;
  }

  .sp_flex {
    display: flex !important;
  }

  header {
    height: 5.4rem;
    justify-content: center;
  }

  header .left {
    margin-left: unset;
  }

  header .left a img {
    width: 10.3rem;
  }

  main {
    margin-top: 5.4rem;
  }

  #topic .wrap {
    flex-direction: column;
    width: 85%;
    min-width: 320px;
  }
  #instagram-embed-0 {
    border: 0 !important;
  }

  #topic .wrap .left {
    flex-direction: column-reverse;
    width: 100%;
  }

  #topic .wrap .right {
    width: 100%;
  }

  #topic .wrap .left .content {
    width: 32rem;
  }

  #topic .wrap .left .instagram-media {
    width: 100%;
  }

  #topic .wrap .right .content {
    flex-direction: column;
  }

  #topic .wrap .right .content .map {
    width: 100%;
    height: 31.4rem;
  }

  #topic .btn {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    min-width: 320px;
  }

  #topic .btn a {
    width: 15.4rem;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    border-radius: 0.5rem;
  }

  footer nav ul {
    width: unset;
    flex-direction: column;
  }

  /* page_top */

  .page_top {
    bottom: 3rem;
    right: 1.3rem;
  }

  .page_top img {
    width: 3.8rem;
  }

  /* separator */

  .sepa001 {
    height: 10.6rem;
    background: url("../img/common/sepa001.jpg") no-repeat center center/cover;
  }

  .sepa002 {
    height: 10.6rem;
    background: url("../img/common/sepa002.jpg") no-repeat center center/cover;
  }

  .sepa003 {
    height: 10.6rem;
    background: url("../img/common/sepa003.jpg") no-repeat center center/cover;
  }

  .sepa004 {
    height: 10.6rem;
    background: url("../img/common/sepa004.jpg") no-repeat center center/cover;
  }
  input.hamburger {
    display: none;
  }
  label.hamburger {
    z-index: 10001;
    position: fixed;
    display: block;
    height: 4rem;
    width: 5rem;
    right: 2rem;
    top: 0;
  }
  label.hamburger:hover {
    cursor: pointer;
  }
  label.hamburger text close,
  label.hamburger text open {
    text-transform: uppercase;
    font-size: 1.4rem;
    position: absolute;
    transform: translateY(3.5rem);
    overflow: hidden;
    transition: width 0.25s 0.35s, color 0.45s 0.35s;
    text-align: center;
  }
  label.hamburger text close {
    text-shadow: 0 0 2px #0003;
    color: transparent;
    right: 0;
    width: 0;
  }
  label.hamburger text open {
    text-shadow: 0 0 2px #0003;
    color: #3e3e3e;
    width: 100%;
    overflow: visible;
  }
  input.hamburger:checked ~ label close {
    color: #3e3e3e;
    width: 100%;
    overflow: visible;
  }
  input.hamburger:checked ~ label open {
    color: transparent;
    width: 0;
  }
  label.hamburger > i {
    position: absolute;
    width: 75%;
    height: 2px;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    background-color: #808080;
    pointer-events: auto;
    transition-duration: 0.35s;
    transition-delay: 0.35s;
  }
  label.hamburger > i:after,
  label.hamburger > i:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    right: 50%;
    background-color: #808080;
    content: "";
    transition: transform 0.35s;
    transform-origin: 50% 50%;
  }
  label.hamburger > i:before {
    transform: translate(50%, -1rem);
  }
  label.hamburger > i:after {
    transform: translate(50%, 1rem);
  }
  input.hamburger:checked ~ label > i {
    background-color: transparent;
  }
  input.hamburger:checked ~ label > i:before {
    transform: translate(50%, 50%) rotate(225deg);
  }
  input.hamburger:checked ~ label > i:after {
    transform: translate(50%, 50%) rotate(-225deg);
  }
  .main-navigation .reserve {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32.5rem;
    margin: auto;
  }
  .main-navigation .reserve a {
    padding: 1.35rem 0;
    width: fit-content;
    width: -moz-fit-content;
    display: block;
    text-align: center;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    color: #212121;
    background: #e1ae49;
  }
  .main-navigation .reserve a:first-child {
    color: #212121;
    background: #e1ae49;
  }
  .main-navigation .reserve a:nth-child(2) {
    color: white;
    background: #6a6a6a;
  }
  .main-navigation {
    position: fixed;
    display: grid;
    grid-template-columns: auto;
    height: 100vh;
    top: 0;
    width: 100vw;
    z-index: 2;
    padding-top: 5.4rem;
    box-sizing: border-box;
    margin: auto;
    opacity: 0;
    transform: translateY(-100%);
    transition: 1s, opacity 1.5s;
  }

  header .right {
    display: none;
  }
  .main-navigation a,
  .main-navigation > div > p {
    color: white;
  }
  .main-navigation > div > p {
    text-align: center;
  }
  .main-navigation ul {
    display: grid;
    grid-template-columns: auto;
  }
  .main-navigation ul li {
    font-size: 2rem;
  }
  .main-navigation ul {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    place-items: center;
    gap: 3rem;
  }
  .main-navigation-bg {
    display: block;
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100vw;
    background: url(/assets/img/common/common_bg.jpg) center/cover no-repeat;
    mix-blend-mode: hard-light;
    z-index: 1;
    transform: translateY(-100%);
    transition: 1s, opacity 1.5s;
    opacity: 0;
  }
  input.hamburger:checked ~ .main-navigation {
    opacity: 1;
    transform: unset;
  }
  input.hamburger:checked ~ .main-navigation-bg {
    opacity: 1;
    transform: unset;
  }
  .navigation_tel {
    font-size: 1.6rem;
    margin: auto;
  }
  .navigation_tel span {
    font-size: 3rem;
  }
  .navigation_icon {
    margin: auto;
  }
  .spbr{
    display: initial;
  }.pcbr{
    display: none;
  }
}
