@charset "UTF-8";

#kv {
  background: url("../img/location/location_kv.jpg") no-repeat center center/cover;
}

#location {
  padding: 9.6rem 0 9.7rem;
  background: url("../img/common/common_bg.jpg") no-repeat center center/cover;
  color: white;
}

#location .wrap {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9.6rem;
}

#location .wrap .img {
  width: 66.3rem;
  height: 32.5rem;
  background: url("../img/location/location_img.jpg") no-repeat center center/cover;
}

#location .wrap p {
  width: calc(50% - 14rem);
  margin-left: 14rem;
  font-size: 2.4rem;
  line-height: 2.5;
}

#location .table {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#location .table .row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border: 0.1rem solid #1a1a1a;
}

#location .table .row p {
  font-size: 2.2rem;
}

#location .table .row .left {
  background: #2b2b2b;
  width: 16.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#location .table .row p:last-child {
  background: white;
  color: #212121;
  padding: 2.1rem 0 2.1rem 2.8rem;
  width: 40.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#location .table .row p small {
  font-size: 1.8rem;
}

#location .table .top .middle {
  height: 6.15rem;
}

#location .table .top .long {
  height: 15.3rem;
}

@media screen and (max-width: 767px) {
  #location .wrap .img {
    width: 32rem;
    height: 15.5rem;
  }
  #location .wrap p {
    width: 28rem;
    margin: 3.5rem auto;
    font-size: 1.4rem;
    line-height: 2.5;
  }
  #location .wrap {
    width: 32rem;
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 0;
  }
  #location .table .row .left {
    width: 9.2rem;
    font-size: 1.4rem;
  }
  #location .table {
    display: grid;
    grid-template-columns: auto;
  }
  #location .table .row p:last-child {
    font-size: 1.4rem;
    width: 22.7rem;
  }
}
