html {
  scroll-behavior: smooth;
  font-size: 0.390625vw;
  font-family: "kozuka-gothic-pro", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

@media screen and (max-width: 3840px) and (min-width: 3200px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 3200px) and (min-width: 2560px) {
  html {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 2560px) and (min-width: 1680px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 1680px) and (min-width: 1440px) {
  html {
    font-size: 8.75px;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 7.5px;
  }
}

/* @media screen and (max-width: 1280px) {
  html {
    font-size: 0.5859375vw;
  }
} */

h1 {
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.03em;
  padding-left: 3rem;
}

.anc_01 {
  position: absolute;
}

.header_top_title_outer {
  max-width: 100%;
  background: #b4a28f;
  color: #24201d;
  height: 4rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header {
  position: sticky;
  top: -4rem;
  z-index: 1001;
}

.header_top_title_phone {
  font-size: 1.4rem;
  justify-self: flex-end;
}

.number {
  font-size: 1.9rem;
  padding-right: 1.8rem;
  font-weight: bold;
}

.phone {
  font-size: 1.4rem;
  letter-spacing: 0.021em;
  line-height: 2.5rem;
  padding-right: 0.5rem;
}

.header_top_title_phone .phone:last-child {
  padding-right: 2.5rem;
}

.header_nav_outer {
  position: sticky;
  top: 0;
  width: 100%;
  background: #f7f6f4;
  box-shadow: 0 0.5rem 0.5rem 0 #0003;
}

.header_nav {
  width: 142rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
  height: 10rem;
  margin: auto;
  background: #f7f6f4;
}
.header_nav_a {
  justify-self: flex-start;
}
.header_nav_logo {
  width: 31rem;
  justify-self: flex-end;
  margin: auto;
}

.header_nav_list {
  display: grid;
  grid-template-columns: repeat(7, auto);
  font-size: 1.7rem;
}

input.hamburger {
  display: none;
}

label.hamburger {
  z-index: 10001;
  position: absolute;
  display: none;
  height: 4rem;
  width: 5rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

label.hamburger:hover {
  cursor: pointer;
}

label.hamburger > i {
  position: absolute;
  width: 75%;
  height: 2px;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  background-color: #231815;
  pointer-events: auto;
  transition-duration: 0.35s;
  transition-delay: 0.35s;
}

label.hamburger > i:before,
label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  right: 50%;
  background-color: #231815;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}

label.hamburger > i:before {
  transform: translate(50%, -1rem);
}

label.hamburger > i:after {
  transform: translate(50%, 1rem);
}

input.hamburger:checked ~ label > i {
  background-color: transparent;
  transform: translateX(50%) rotate(0deg);
}

input.hamburger:checked ~ label > i:before {
  background-color: #3f3f3f;
  transform: translate(50%, 50%) rotate(225deg);
}

input.hamburger:checked ~ label > i:after {
  transform: translate(50%, 50%) rotate(-45deg);
}

header .menu-menu-1-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 30vw;
  z-index: 10000;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 12.5rem;
  transition: width 975ms ease-out, transform 950ms ease, border-radius 0.8s 0.1s ease;
  border-bottom-left-radius: 100vw;
  border-top-left-radius: 50px;
  background-color: #fffffffc;
}

header .menu-menu-1-container #primary-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  place-items: center;
  row-gap: 1rem;
  display: grid;
  grid: auto-flow 16rem / 1fr 1fr;
  margin: 0;
}

header .menu-menu-1-container li {
  width: 100%;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
}

header .menu-menu-1-container li > a {
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}

.sp_hamburger_nav_list {
  text-align: center;
  display: grid;
}

.hamburger_top_title_phone {
  font-size: 1.4rem;
}

.hamburger_top_title_phone .phone {
  padding-right: 0;
}

.hamburger_top_title_phone .number {
  padding-right: 0;
}

header input.hamburger ~ .sp_hamburger_nav_list .contact_btn,
header input.hamburger ~ .sp_hamburger_nav_list .hamburger_top_title_phone {
  display: none;
}

.menu-menu-1-container li:nth-child(1) > a {
  transition: transform 1s 0.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.menu-menu-1-container li:nth-child(2) > a {
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.menu-menu-1-container li:nth-child(3) > a {
  transition: transform 1s 0.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.menu-menu-1-container li:nth-child(4) > a {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.menu-menu-1-container li:nth-child(5) > a {
  transition: transform 1s 0.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.menu-menu-1-container li:nth-child(6) > a {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.menu-menu-1-container li:nth-child(6) {
  background: #e4f0ff00;
  transition: 1s 0.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

input.hamburger:checked ~ .menu-menu-1-container li:nth-child(6) {
  background: #e4f0ff;
}

.menu-menu-1-container li a {
  color: #333;
  padding: 0.5rem;
  font-size: 2rem;
}

.menu-menu-1-container li a:hover {
  cursor: pointer;
  background-color: #88c2f8;
  background-color: rgba(17, 132, 240, 0.5);
}

header input.hamburger:checked ~ .menu-menu-1-container li > a {
  transform: translatex(0);
}

.header_nav_list li {
  padding: 0 2rem;
}

.header_nav_list li:first-child {
  padding-left: 0;
}

.header_nav_list li:last-child {
  padding-right: 0;
}

.header_nav_list li:nth-child(n + 2) {
  border-left: solid #d1d1d1 1px;
}

.contact_btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 3rem;
}

.contact_btn > .contact_btn_b {
  display: grid;
  background: #e0eaf4;
  border-radius: 0.5rem;
  color: #333;
  box-shadow: 0 0.6rem 0 #d2e5f8;
  place-items: center;
}

.contact_btn > .contact_btn_g {
  display: grid;
  background: #1a62a3;
  border-radius: 0.5rem;
  color: #fff;
  place-items: center;
}

.header_nav > .contact_btn {
  font-size: 1.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: flex-start;
  gap: 3rem;
  margin-left: 6.1rem;
}

.header_nav > .contact_btn > .contact_btn_b {
  width: 18.3rem;
  height: 5rem;
}

.header_nav > .contact_btn > .contact_btn_g {
  width: 18.3rem;
  height: 5rem;
  box-shadow: 0 0.6rem 0 #0c4172;
}

.main {
  color: #2e2e2e;
}

.sec_fv {
  text-align: center;
  display: grid;
  font-size: 2.6rem;
  grid-template-columns: 82rem 60rem;
  background: url(/assets/img/header_top_img.jpg) no-repeat top/cover;
  color: #fff;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.sec_fv_l {
  padding: 17.3rem 0 11.3rem;
}

.sec_fv_r {
  position: absolute;
  height: 68.735rem;
  right: 0;
  bottom: 0;
  transform: translateX(50%);
}

.sec_fv_p_lg {
  font-size: 5rem;
  line-height: 7rem;
  letter-spacing: 0.09em;
  margin-bottom: 6rem;
  text-shadow: 0 0.15rem 0.6rem #000f;
  text-align: left;
  font-weight: 200;
}

.sec_fv_p_lg .s_bold {
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.sec_fv_l > .contact_btn {
  margin-top: 10rem;
  font-size: 2.4rem;
  gap: 6.1rem;
  width: fit-content;
  width: -moz-fit-content;
}

.sec_fv_l > .contact_btn > .contact_btn_b {
  width: 31.3rem;
  height: 8.1rem;
}

.sec_fv_l > .contact_btn > .contact_btn_g {
  width: 31.3rem;
  height: 8.1rem;
  box-shadow: 0 0.6rem 0 #0c4172;
}

.sec_01 > .contact_btn {
  display: none;
}

.sec_01 {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 12rem;
  text-align: center;
  background: #f7f6f4;
}

.sec_01_img {
  width: 73.5rem;
  box-shadow: 0 0.3rem 0.6rem #cfcecc;
}

.sec_01_h2 {
  font-size: 4rem;
  margin-bottom: 8rem;
}

.sec_02 {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background: #dddddd;
  text-align: center;
}

.sec_p {
  font-size: 2.1rem;
  line-height: 4rem;
  padding: 3rem 0 5rem;
  color: #2e2e2e;
}

.sec_02 .sec_p {
  padding: 3rem 0 12rem;
}

.sec_h {
  font-size: 4rem;
}

.sec_02 > .contact_btn {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 9rem;
  font-size: 2rem;
}

.sec_02 > .contact_btn > .contact_btn_g {
  width: 25.5rem;
  height: 6.5rem;
}

.sec_02_pic {
  width: 128rem;
  max-width: 90%;
}

.sec_03 {
  padding: 9rem 0 10rem;
  text-align: center;
  background: #fcfcfc;
}

.sec_03 .sec_p {
  padding: 4rem 0 11.5rem;
}

.sec_03_features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15rem;
  width: 146rem;
  max-width: 95%;
  margin: auto;
  font-size: 1.6rem;
}

.sec_03_features h4 {
  font-size: 2.8rem;
  color: #343434;
}

.sec_03_feature_img {
  width: 19rem;
}

.sec_03_feature {
  display: grid;
  grid-template-rows: 15.7rem 6rem;
  place-items: center;
  gap: 4rem;
}

.sec_03_feature_p {
  align-self: flex-start;
  text-align: left;
  font-size: 2rem;
  line-height: 4rem;
}

.sec_04 {
  padding: 9rem 0;
  background: #dddddd;
  text-align: center;
}

.sec_04 h4 {
  font-size: 2.8rem;
  padding: 4rem;
}

.sec_04 .sec_p {
  padding: 3rem 0 6rem;
}

.sec_04_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 95%;
  width: fit-content;
  width: -moz-fit-content;
  gap: 2.5rem;
  margin: auto;
}

.sec_04_service {
  width: 100%;
  max-width: 42rem;
  display: grid;
}

.sec_04_services > .sec_04_service:nth-child(1) {
  background: #b4a28f;
}

.sec_04_services > .sec_04_service:nth-child(2) {
  background: #1a62a3;
  color: #fcfcfc;
}

.sec_04_services > .sec_04_service:nth-child(3) {
  background: #ececec;
}

.sec_04_service_img {
  width: 100%;
  vertical-align: bottom;
}

.sec_04_service_ul {
  margin: auto;
  text-align: left;
  list-style: inside;
  font-size: 2rem;
  line-height: 4.2rem;
  padding: 5rem 0 0;
}

.sec_04_service_p {
  font-size: 2rem;
  justify-self: right;
  padding: 2.5rem 4rem;
}

.sec_04 > .contact_btn {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 9rem;
  font-size: 2.2rem;
}

.sec_04 > .contact_btn > .contact_btn_g {
  width: 29rem;
  height: 8rem;
}

.sec_06 {
  text-align: center;
  padding: 10rem 0;
  background: #dddddd;
}

.sec_06_compare_outer {
  width: 141rem;
  max-width: 95%;
  margin: auto;
}

.sec_06 > .sec_p {
  padding: 3rem 0 9rem;
}

.sec_05 {
  text-align: center;
  padding: 10rem 0 0;
  background: #f7f6f4;
}

.sec_05 > .sec_h.sec_h:nth-child(2) {
  padding-top: 4rem;
}

.sec_05 > .sec_p {
  margin: 0;
  padding: 3rem 0 2rem;
}

.sec_05 > img {
  margin-top: 6.8rem;
  width: 46.4rem;
  max-width: 100%;
}
.sec_05_price_outer {
  font-weight: 500;
  display: grid;
  gap: 6rem;
  grid-template-columns: auto auto;
  justify-content: center;
}
.sec_05_price_ic {
  font-size: 7.4rem;
  color: #1a62a3;
  align-self: end;
  line-height: 1.25;
}
.col_b {
  color: #2e2e2e;
  margin-right: 1rem;
}
.sec_05_price_chara {
  font-size: 5.8rem;
}
.sec_05_price_ic50 {
  font-size: 5.6rem;
  margin-right: 12.6rem;
  position: relative;
  line-height: 1;
}
.sec_05_price_ic50::before {
  background: #2e2e2e;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 0.3rem;
  content: "";
}
.sec_05_price_ic50::after {
  background: #2e2e2e;
  position: absolute;
  width: 6.9rem;
  height: 3.4rem;
  left: 100%;
  top: 50%;
  transform: translate(3rem, -100%);
  background: url(/assets/img/ic_arrow.svg) center/contain no-repeat;
  content: "";
}
.sec_05_price_ic0 {
  position: relative;
  font-size: 11.7rem;
  margin-right: 3.6rem;
}
.sec_05_price_ic0:after {
  position: absolute;
  background: url(/assets/img/ic0_ac.svg) center/contain no-repeat;
  left: 50%;
  top: 0;
  transform: translateY(30%);
  height: 4.3rem;
  width: 3rem;
  content: "";
}
.sec_05_yen {
  font-size: 3.9rem;
}
table {
  font-size: 3rem;
}
tbody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #1a62a3;
}

tr {
  display: grid;
  grid-template-columns: auto;
}
tr > th {
  padding: 4rem 2.7rem 2rem;
}
tr > td {
  padding: 2.5rem 2.7rem 0;
}
table tr:nth-child(2) {
  border: dotted #2e2e2e;
  border-width: 0 0.3rem;
}
.sec_05_price_rc_td {
  font-size: 6rem;
  color: #2e2e2e;
  border-bottom: dotted 0.3rem #2e2e2e;
  padding: 0 2rem 1.8rem;
}
.sec_05_table_yen {
  font-size: 4.2rem;
}
.sec_05_price_rc_chara {
  font-size: 2.6rem;
}
.arrow_pos {
  position: relative;
  margin-top: 10rem;
}

.arrow {
  position: absolute;
  width: 15.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec_05_point {
  padding: 10rem 0;
}

.sec_05_point > .sec_p {
  margin-top: 0;
  margin-bottom: 6rem;
}

.sec_05_point_cont {
  max-width: 131.7rem;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
}

.sec_05_point_l_cont > picture > img {
  width: 52rem;
  vertical-align: bottom;
}
.sec_05_point_l_cont {
  text-align: left;
}
.sec_05_point_l_ub {
  border-bottom: double 0.9rem #1a62a3;
}
.sec_05_point_l_cont h4 {
  font-size: 2.8rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}
.sec_05_point_cont_list {
  justify-self: flex-end;
}

.sec_05_point_cont_li {
  background: #fff;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 7rem;
  justify-content: space-between;
  padding: 1.5rem 0;
  padding-right: 3rem;
  line-height: 1;
  font-size: 3rem;
  box-shadow: 0 3rem 6rem #0000000f;
}

.sec_05_point_cont_li_text::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 1.3rem;
  width: 1.2rem;
  position: absolute;
  background: #bac2c7;
}

.sec_05_point_cont_li_text {
  position: relative;
  text-indent: 4rem;
}

.sec_05_point_cont_li_pt {
  color: #0b7ac0;
}

.sec_05_point > .contact_btn {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 9rem;
  font-size: 2.2rem;
}

.sec_05_point > .contact_btn > .contact_btn_g {
  width: 29rem;
  height: 8rem;
}

.sec_07 {
  text-align: center;
  padding: 10rem 0;
  background: #fcfcfc;
}

.sec_07_flow_outer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 137rem;
  max-width: 100%;
  gap: 9rem;
  margin: auto;
  margin-top: 4rem;
}

.sec_07_flow {
  max-width: 39rem;
}

.sec_07_flow_h4 {
  font-size: 2.8rem;
  margin-top: 2rem;
}

.sec_07_flow_p {
  font-size: 2rem;
  margin-top: 2.7rem;
  text-align: left;
}

.sec_07_flow_img {
  width: 35rem;
}

.sec_07 > .contact_btn {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 9rem;
  font-size: 2.2rem;
}

.sec_07_flow_arrow {
  position: relative;
}

.sec_07_flow_arrow::before,
.sec_07_flow_arrow::after {
  position: absolute;
  content: url(/assets/img/flow_arrow.svg);
  top: 17.5rem;
}

.sec_07_flow_arrow::before {
  left: -4.5rem;
  transform: translate(-50%, -50%);
}

.sec_07_flow_arrow::after {
  right: -4.5rem;
  transform: translate(50%, -50%);
}

.sec_07 > .contact_btn {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 9rem;
  font-size: 2.2rem;
}

.sec_07 > .contact_btn > .contact_btn_g {
  width: 29rem;
  height: 8rem;
}

.sec_08 {
  text-align: center;
  padding: 10rem 0 9rem;
  background: #dddddd;
}

.sec_08_security_outer {
  display: grid;
  grid-template-columns: auto 60rem;
  max-width: 95%;
  width: fit-content;
  gap: 17.2rem;
  margin: 12rem auto;
}

.sec_08_security {
  text-align: left;
}

.sec_08_security_img {
  width: 16.5rem;
}

.sec_08_security_h4 {
  color: #0b7ac0;
  font-size: 2.8rem;
  line-height: 1;
}

.sec_08_security_p {
  font-size: 2rem;
  line-height: 4rem;
  margin-top: 3.2rem;
}

.sec_09 {
  text-align: center;
  padding: 10rem 0 9rem;
  background: #f7f6f4;
}

.sec_09_faq_outer {
  margin-top: 11.5rem;
  display: grid;
  gap: 6rem;
  justify-items: center;
}

.sec_09_faq {
  width: 104rem;
  max-width: 100vw;
  position: relative;
  text-align: left;
}

.sec_09_faq_q {
  position: relative;
  background: #1a62a3;
  color: #fff;
  font-size: 3rem;
  padding: 3.7rem 0;
  line-height: 1;
  padding-left: 14rem;
  z-index: 2;
}

.sec_09_faq_q::before,
.sec_09_faq_q::after {
  position: absolute;
  display: block;
  width: 2rem;
  height: 0.4rem;
  right: 0;
  top: 50%;
  background-color: #f7f6f4;
  content: "";
  transition: transform linear 0.2s;
  transform-origin: 50% 50%;
  border-radius: 100%;
}

.sec_09_faq_q::before {
  transform: translate(-95%, -0.5rem) rotate(135deg);
}

.sec_09_faq_q::after {
  transform: translate(-155%, -0.5rem) rotate(45deg);
}

.faq_hamburger_check:checked ~ .sec_09_faq_q::before {
  transform: translate(-95%, 0.5rem) rotate(-135deg);
}

.faq_hamburger_check:checked ~ .sec_09_faq_q::after {
  transform: translate(-155%, 0.5rem) rotate(315deg);
}

.sec_09_faq_a {
  position: relative;
  background: #fff;
  font-size: 2.3rem;
  padding: 0;
  padding-left: 14rem;
  line-height: 2.7rem;
  transform: translateY(-10rem);
  transition: 0.5s;
  opacity: 0;
  height: 0;
}

.sec_09_faq_char {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4.4rem;
}

.sec_09_faq_a .sec_09_faq_char {
  top: 2.5rem;
  transform: unset;
  color: #2086c4;
}

.sec_09 .contact_btn {
  margin: auto;
  margin-top: 10rem;
  font-size: 2.4rem;
  gap: 6.1rem;
  width: fit-content;
  width: -moz-fit-content;
}

.sec_09 > .contact_btn > .contact_btn_b {
  width: 31.3rem;
  height: 8.1rem;
}

.sec_09 > .contact_btn > .contact_btn_g {
  width: 31.3rem;
  height: 8.1rem;
  box-shadow: 0 0.6rem 0 #0c4172;
}

footer {
  background: #949494;
  color: #fff;
  padding-top: 13.2rem;
  padding-bottom: 3.2rem;
  font-size: 1.8rem;
}

.footer_align {
  display: grid;
  max-width: 133rem;
  margin: auto;
  gap: 3.65rem;
}

.footer_links {
  justify-self: flex-end;
}

.footer_links > .footer_link_border:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.footer_logo_outer {
  display: grid;
  width: fit-content;
  width: -moz-fit-content;
  justify-items: center;
  text-align: center;
  font-size: 1.9rem;
}

.footer_link_border {
  padding: 0 2.85rem;
}

.footer_logo_outer .s_bold {
  font-size: 4.7rem;
}

.footer_logo_img {
  width: 30rem;
}

.faq_hamburger_check:checked ~ .sec_09_faq_a {
  transform: translateY(0);
  opacity: 1;
  height: 17rem;
  padding: 3.7rem 0;
  padding-left: 14rem;
}
small {
  width: 37.5rem;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .header_top_title_outer {
    grid-template-columns: repeat(3, auto);
  }

  .header_nav > .contact_btn {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 1280px) {
  header {
    top: 0;
  }

  label.hamburger {
    display: block;
  }

  .header_nav_logo {
    margin-left: 8rem;
  }

  .header_nav > .contact_btn {
    display: none;
  }

  .sec_fv {
    grid-template-columns: auto auto;
  }

  .sec_fv_l {
    padding: 9.3rem 0 28.2rem;
  }

  .sec_fv_r {
    height: 48.735rem;
    right: calc(50% - 55rem);
  }

  .sec_fv_p_lg {
    font-size: 6rem;
    line-height: 9.5rem;
    letter-spacing: 0.043em;
  }

  .sec_fv_p_lg .s_bold {
    font-size: 8.5rem;
  }

  .sec_fv_l > .contact_btn {
    display: none;
  }

  .sec_01 {
    padding-top: 2.9rem;
  }
  .sec_01_h2 {
    font-size: 5.3rem;
    margin-bottom: 12.3rem;
  }

  .sec_01 > .contact_btn {
    display: grid;
    grid-template-columns: auto;
    font-size: 2.55rem;
    gap: 3rem;
    margin-bottom: 5.9rem;
  }

  .sec_01 > .contact_btn > .contact_btn_b {
    width: 31.3rem;
    height: 8.1rem;
  }

  .sec_01 > .contact_btn > .contact_btn_g {
    width: 31.3rem;
    height: 8.1rem;
    box-shadow: 0 0.6rem 0 #0c4172;
  }

  .header_nav {
    width: 100%;
    box-shadow: 0 0.5rem 0.5rem 0 #0003;
  }

  .header_top_title_outer {
    display: none;
  }

  .header_nav_list li {
    padding: 0;
    padding-top: 3.75rem;
    font-size: 2.55rem;
  }

  .sp_hamburger_nav_list {
    position: fixed;
    left: 0;
    top: calc(-100vh - 4rem);
    height: calc(100vh + 4rem);
    width: 100vw;
    text-align: center;
    background: #fff;
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;
    justify-items: center;
    align-content: center;
    gap: 3rem;
    transition: 1s, opacity ease-out 0.5s;
    opacity: 0;
    z-index: -1;
  }

  header input.hamburger:checked ~ .sp_hamburger_nav_list {
    top: -4rem;
    opacity: 1;
    transition: 1s, opacity ease-out 1s, border-radius ease-in-out 1s;
    border-radius: 0;
    position: fixed;
    background: #f7f6f4;
  }

  .header_nav_list li:nth-child(n + 2) {
    border: 0;
  }

  header input.hamburger ~ .sp_hamburger_nav_list > .contact_btn,
  header input.hamburger ~ .sp_hamburger_nav_list > .header_nav_list,
  header input.hamburger ~ .sp_hamburger_nav_list > .hamburger_top_title_phone {
    display: block;
  }

  .sp_hamburger_nav_list > .contact_btn {
    font-size: 2.85rem;
    gap: 3.3rem;
    display: grid;
    grid-template-columns: auto;
  }

  .sp_hamburger_nav_list > .contact_btn > .contact_btn_b {
    width: 42.6rem;
    height: 9.2rem;
  }

  .sp_hamburger_nav_list > .contact_btn > .contact_btn_g {
    width: 42.6rem;
    height: 9.2rem;
    margin-top: 3.3rem;
    box-shadow: 0 0.6rem 0 #0c4172;
  }

  .hamburger_top_title_phone .phone {
    font-size: 2.1rem;
  }

  .hamburger_top_title_phone .number {
    font-size: 2.85rem;
  }
  .sec_p {
    font-size: 2.1rem;
  }
  .sec_03_features h4 {
    font-size: 2.8rem;
  }
  .sec_03_feature_p {
    font-size: 2.1rem;
  }
  .sec_02_pic {
    width: 50rem;
    max-width: 95%;
  }
  .sec_03_features {
    gap: 4rem;
  }
  .sec_04 {
    padding: 9rem 0 4rem;
  }
  .sec_05_price_outer {
    grid-template-columns: auto;
    padding-top: 7rem;
  }
  .sec_05_point > .sec_p {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1080px) {
  .sec_05_point_cont {
    max-width: 131.7rem;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .sec_05_point_l_cont {
    align-self: flex-end;
  }
  .sec_07_flow_outer {
    grid-template-columns: auto;
    justify-content: center;
  }
  .sec_07_flow_arrow::before {
    left: 50%;
    top: -4.5rem;
  }
  .sec_07_flow_arrow::after {
    left: 50%;
    right: unset;
    top: calc(100% + 4.5rem);
  }
  .sec_07_flow_arrow::before,
  .sec_07_flow_arrow::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .sec_07 > .contact_btn {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 767px) {
  .sec_fv {
    grid-template-columns: auto;
  }
  .sec_fv_l {
    padding: 5.7rem 0 28.1rem;
  }
  .sec_fv_r {
    height: 28.2rem;
    right: 10%;
    max-width: none;
  }
  .sec_fv_p_lg {
    font-size: 3.3rem;
    line-height: 4.5rem;
    width: 36rem;
  }
  .sec_fv_p_lg .s_bold {
    font-size: 4.1rem;
    line-height: 5.4rem;
  }
  .sec_h {
    font-size: 3rem;
  }
  .sec_05_point_l_cont h4,
  .sec_03_feature_p,
  .sec_p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .sec_01_h2 {
    font-size: 2.6rem;
    margin-bottom: 12.3rem;
  }
  .sec_03 .sec_p {
    padding-bottom: 5rem;
  }
  .sec_03_features {
    grid-template-columns: auto;
    width: 40rem;
    gap: 4rem;
  }
  .sec_04_services {
    grid-template-columns: auto;
    gap: 0;
    max-width: 100%;
  }

  .sec_04_service {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .sec_04 h4 {
    font-size: 2.6rem;
    line-height: 2.6rem;
    padding: 2.1rem 0;
  }
  .sec_04_service_ul {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.7rem;
    line-height: 2.8rem;
  }
  .sec_04_services picture {
    grid-row: 2/4;
    width: 100%;
  }
  .sec_04_service_p {
    grid-column: 2/3;
    padding: 0 4rem;
  }
  .sec_08_security_outer {
    gap: 2.7rem;
    grid-template-columns: auto auto;
  }
  .sec_08_security_img {
    width: 9.6rem;
  }
  .sec_04 > .contact_btn {
    margin-top: 4.5rem;
  }
  .contact_btn {
    grid-template-columns: auto;
  }
  .sec_05_point_l_cont h4 {
    padding: 2rem;
  }
  .sec_05_price_ic {
    font-size: 4.8rem;
  }
  .sec_05_price_chara {
    font-size: 3.9rem;
  }
  .sec_05_price_ic50 {
    font-size: 4rem;
    margin-right: 10rem;
  }
  .sec_05_price_ic50::after {
    width: 5.2rem;
    height: 2.6rem;
    left: 100%;
    top: 50%;
    transform: translate(2.6rem, -100%);
  }
  .sec_05_yen {
    font-size: 2.1rem;
  }
  .sec_05_price_ic0 {
    font-size: 9.3rem;
    margin-right: 1.5rem;
  }
  .sec_05_price_ic0:after {
    left: 60%;
    top: -5%;
  }
  table {
    margin: auto;
    width: 95%;
  }
  tbody {
    grid-template-columns: auto;
  }
  .sec_05_price_rc_td,
  table tr:nth-child(2) {
    border: 0;
  }
  .sec_05_price_rc_td {
    padding: 0;
  }
  tr > th {
    padding: 2.5rem 0 0;
  }
  tr > td {
    padding: 0 0 2.5rem;
  }
  tr {
    border: dotted #2e2e2e;
    border-width: 0.3rem 0;
  }
  .sec_05_point_cont_list {
    justify-self: center;
  }
  .sec_05_point_cont_li {
    font-size: 1.8rem;
    gap: 4.5rem;
  }
  .sec_08_security_p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .sec_09 {
    padding: 5rem 0 5rem;
  }
  .sec_09_faq_outer {
    margin-top: 5.5rem;
    display: grid;
    gap: 2rem;
    justify-items: center;
  }
  .sec_09_faq_q {
    position: relative;
    background: #1a62a3;
    color: #fff;
    font-size: 1.9rem;
    padding: 2.9rem 0;
    line-height: 1;
    padding-left: 6.4rem;
    z-index: 2;
  }
  .sec_09_faq_char {
    font-size: 3rem;
    left: 1.5rem;
  }
  .faq_hamburger_check:checked ~ .sec_09_faq_a {
    height: 20rem;
    padding: 2.9rem 0;
    padding-left: 6.4rem;
  }
  .sec_09_faq_a {
    font-size: 1.6rem;
    padding: 0;
    padding-left: 6.4rem;
    line-height: 2.4rem;
    transform: translateY(-10rem);
  }
  .sec_09 .contact_btn {
    margin-top: 5rem;
    gap: 3rem;
  }
  footer {
    padding-top: 5rem;
  }
  .footer_logo_outer {
    display: grid;
    width: fit-content;
    width: -moz-fit-content;
    justify-items: center;
    text-align: center;
    font-size: 1.9rem;
    margin: auto;
  }
  .footer_links {
    justify-self: center;
  }
  .footer_link_border {
    padding: 0 1rem;
  }
  small {
    justify-self: center;
  }
}
.br {
  display: inline-block;
}
